<style>
  .global-menu {
    font-size: .9rem;
  }

  header .version {
    font-size: .75rem;
  }

  .code-content {
    font-size: .75rem;
  }

  body>div>div.content-container>main>pre>code {
    font-size: .85rem;
  }

  .large-image {
    width: 30%;
    margin-left: 6%;
  }

  .medium-image {
    width: 65%;
    margin-left: 6%;
  }

  .dropdown-image {
    width: 25%;
    margin-left: 20%;
  }

  @media (min-width: 769px) {
    .global-menu {
      display: none;
    }
  }

  @media (max-width: 769px) {
    .sidebar {
      display: none;
    }

    header .version,
    .github {
      display: none;
    }

    .lambda-img {
      display: none;
    }
  }
</style>